Libraries/
Library/
TMP/
Temp/
Obj/
Bin/
.vscode/
Logs/
UserSettings/
Assets/Scenes/GameScene.unity.meta
Assets/Scenes/MainMenu.unity.meta
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.unityproj
